*{
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  color: #ff652f;
  font-family: 'Lato', sans-serif;
  user-select: none;
}

header{
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1{
  font-size: 120px;
  letter-spacing: 15px;
  font-weight: 800;
  margin: 0px 0px 0px 0px;
  text-shadow: -1px -1px 0 #ffe400, 1px -1px 0 #ffe400, -1px 1px 0 #ffe400, 1px 1px 0 #ffe400;
  -webkit-text-fill-color: #272727;
}

.game-message{
  margin: 0px;
  margin-top:15px;
  font-size: 20px;
  height: 50px;
  color: #747474;
}

.grids{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px 30px #070707;
}

section div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: solid #14A76C 1px;
}

.gameplay{
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 20%;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  font-size: 21px;
}

.orientation-button{
  width: 110px;
  height: 80px;
  border: none;
  margin-top: -35px;
  padding: 0;
}

i{
  font-size: 50px;
}

.ship-list{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 150px;
  margin-left: 100px;
  border: none;
  justify-content: center;
  align-items: center;
}

.ship-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 75px;
}

.orientation-button{
  width: 200px;
}

.hit{
  background-image: url("images/fire.gif");
  background-size: contain;
}
.hover.ship{
  background-color: #ffe400;
}

.miss{
  font-size: 30px;
  text-shadow: -1px -1px 0 #ffe400, 1px -1px 0 #ffe400, -1px 1px 0 #ffe400, 1px 1px 0 #ffe400;
  -webkit-text-fill-color: #272727;
}

.no-go{
  background-color: #353535;
}

.grid-two .ship{
    background-color: inherit;
}

.grid-two .no-go{
  background-color: inherit;
}

.win-lose-message{
  font-size: 100px;
  color: #272727;
  text-shadow: -1px -1px 0 #ff652f, 1px -1px 0 #ff652f, -1px 1px 0 #ff652f, 1px 1px 0 #ff652f;
}

button{
  font-size: 21px;
  border: none;
  background-color: #272727;
  color: #ff652f;
  cursor: pointer;
  padding-left: 0px;
}

button:focus {
  outline:0;
}

button:active {
  color:#cc310b;
}

.hide{
  display: none;
}

.hover{
  background-color: #707070;
}
